
@{ ViewBag.Title = "Üye Ekle"; }

<h2>Üye Ekle</h2>

<script src="~/Scriptler/Main.js"></script>

<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-12">  Ad </label>
        <div class="col-md-12">
            <input id="uyeAd" type="text" class="form-control" placeholder="Üye Adını Giriniz ">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">  Soyad </label>
        <div class="col-md-12">
            <input id="uyeSoyad" type="text" class="form-control" placeholder="Üye Soyadını Giriniz">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">  TC  </label>
        <div class="col-md-12">
            <input id="uyeTc" type="text" class="form-control" placeholder="Üye TC No Giriniz">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">  Telefon  </label>
        <div class="col-md-12">
            <input id="uyeTel" type="text" class="form-control" placeholder="Üye Tel No Giriniz">
        </div>
    </div>



    
    <div class="form-group">
        <div class="col-md-12">
            <input type="button" id="uyeKaydet" class="btn btn-block btn-info" value="Kaydet">
        </div>
    </div>


</form>