
@{ ViewBag.Title = "Yazarlar"; }

@using KutuphaneProgrami.Data.Model
@model List<Yazar>



<h2>YAZARLAR</h2>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Kitap Adeti</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var yzr in Model)
        {
            <tr>
                <td>@yzr.YazarAdi</td>
                <td>@yzr.Kitaplar.Count()</td>
                <td> <button class="yazarguncelle btn btn-custom" value="@yzr.Id">Güncelle</button></td>
                <td> <button class="yazarSil btn btn-danger" value="@yzr.Id">Sil</button></td>
            </tr>
            
            }
        
    </tbody>
    <tfoot>
        <tr>
            <th>Ad</th>
            <th>Kitap Adeti</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </tfoot>
</table>